body {
  background-color: lightgrey;
  font-family: 'Chivo', sans-serif;
  font-size: 16px;
}

img {
  width: 100%;
}

header {
  background-color: #ffffff;
  padding: 10px;
  margin: 10px;
  border-bottom: 3px solid #ffffff;
  -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  position: relative;
}

.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #ff7f50;
  color: #ffffff;
  /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
  /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #ff7f50;
  text-transform: uppercase;
  border: 2px solid #ff7f50;
}

.button.contact:hover {
  background-color: #ff7f50;
  color: #ffffff;
}

.button.resume {
  background-color: transparent;
  color: #ff7f50;
  text-transform: uppercase;
  border: 2px solid #ff7f50;
}

.button.resume:hover {
  background-color: #ff7f50;
  color: #ffffff;
}

* {
  box-sizing: border-box;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #ffffff;
}

#hero h1 {
  text-align: center;
  /* Centers text */
}

.logo {
  max-width: 250px;
}

header {
  background-color: #ffffff;
  text-align: center;
  padding: 10px 0;
}

nav {
  display: inline-block;
  width: 100%;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  display: inline-block;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a:visited {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

#hero {
  background-color: #ffffff;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

main {
  padding-top: 133px;
}

#contact {
  text-align: center;
  list-style-type: none;
}

.social_ul {
  list-style-type: none;
  padding: 0;
  display: inline-block;
}

footer {
  border-bottom: 3px solid #ffffff;
  -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  background-color: #ffffff;
  text-align: center;
  padding: 10px 0;
}

.profile_image {
  width: 500px;
}